PORT=5500
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.wwp71dg.mongodb.net/roomxchange?appName=Cluster0

JWT_SECRET=your_custom_secret_key_here

ALLOWED_EMAIL_DOMAIN=iiitdmj.ac.in

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_16_char_app_password   (not your normal Gmail password — generate an "App Password" from Google Account > Security > 2-Step Verification > App Passwords)